<html>
    <link rel="stylesheet" href="/index.css">
    <head>
        <title>{{ title }}</title>
    </head>

    <body>
        <div id="container">
            <!--Header-->
            <div id="header"></div>
            <!--Navigation Bar-->
            <div id="headerArea">
                <nav id="navbar" style="margin-bottom: 0px;">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/projects/">Projects</a></li>
                        <li><a href="/reading/">Reading</a></li>
                        <li><a href="/interests/">Interests</a></li>
                        <li><a href="/blog/">Blog</a></li>
                        <li><a href="/about/">About</a></li></ul></nav>
            </div>
            <!--Main Content-->
            <div id="flex">
                <!--Sidebar (deleted)-->

                <!--Main Page Content-->
                <main>
                    <h1 class="title">{{title}}</h1>
                    <!--Paste page html here (and remove line below)-->
                    {{ content }}
                    <hr>
                    <br>
                    <a href="mailto:riverseeber12@gmail.com" class="button"><button>Reply via Email!</button></a>
                </main>
                
            </div>
            <!--Footer-->
            <footer id="footer" style="margin-top: 0px;">
                <p style="font-size: 0px;">This site is owned by River Seeber</p>
            </footer>

            <div class="spacer"></div>
        </div>
    </body>
</html>
