<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTjF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    <title>{{ title }}</title>
</head>
<body>
    <div class="big-box">

        <!-- LEFT -->
        <div class="container" id="left">
            <div class="panel" id="cover-image">
            </div>
            <!-- MAIN ARTICLE CONTENT -->
            <div class="panel">
                    <main>
                        {{ content }}
                    </main>
            </div>
        </div>

        <!-- RIGHT -->
        <div class="container" id="right">
            <div class="panel" id="navbar">
                    <h1>Navbar</h1>
                    <ul>
                        <li><a href="/"          >Home</a></li>
                        <li><a href="/projects/" >Projects</a></li>
                        <li><a href="/reading/"  >Reading</a></li>
                        <li><a href="/interests/">Interests</a></li>
                        <li><a href="/blog/"     >Blog</a></li>
                        <li><a href="/about/"    >About</a></li>
                    </ul>
            </div>
            <div class="panel" id="sidebar">
                <h1>Sidebar:</h1>
                {% renderBox "sidebar" %}
                <div class="badgeHolder">
                    <a href="https://11ty.dev/" target="blank"><img src="/images/88x31/builtWith11ty_88x31.gif" alt="88x31: This site was built with eleventy (11ty.dev)" class="badge"></a>
                    <a href="https://archlinux.org/" target="_blank"><img src="/images/88x31/stupidArchMeme_88x31.png" alt="88x31: I use Arch btw" class="badge"></a>
                </div>
            </div>
            <div class="panel" id="mobile-notice">
                <p>
                    This site is best viewed on desktop, but you can still go ahead anyways.
                </p>
            </div>
        </div>
    </div>
</body>
</html>