<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <title>{{ title }}{% if subtitle %}: {{subtitle}}{% endif %}</title>

    <link rel="me" href="https://defcon.social/@riverpunk" />
    <meta name="fediverse:creator" content="@riverpunk@defcon.social">
    <meta property="og:title" content="{{title}}{% if subtitle %}: {{subtitle}}{% endif %}" />
    {% if tags contains "post" %}
    <meta property="og:type" content="article" />
    {% else %}
    <meta property="og:type" content="website" />
    {% endif %}
    <meta property="og:url" content="https://riverseeber.net{{page.url}}" />
    <meta property="og:image" content="https://riverseeber.net/images/poppyField2.JPG" />

    <!-- This is a very small pageview counter. I am not tracking you across the web with this. -->
    <script data-goatcounter="https://rseeber.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>
</head>
<body>
    <div class="big-box">

        <!-- LEFT -->
        <div class="container" id="left">
            <div class="panel" id="cover-image">
            </div>
            <!-- MAIN ARTICLE CONTENT -->
            <main>
                <!-- HEADER PANEL -->
                {%- if page.panel0 -%}
                <div class="panel" id="panel0">
                    {% markdown %}{% renderBox "panel0" %}{% endmarkdown %}
                </div>
                {%- endif -%}

                <!-- PRIMARY CONTENT FIELD -->
                <div class="panel" id="mainPanel">
                            {{ content }}
                </div>

                {%- if page.panel1 -%}
                <div class="panel" id="panel1">
                    {% markdown %}{% renderBox "panel1" %}{% endmarkdown %}
                </div>
                {%- endif -%}
                {%- if page.panel2 -%}
                <div class="panel" id="panel2">
                    {% markdown %}{% renderBox "panel2" %}{% endmarkdown %}
                </div>
                {%- endif -%}
                {%- if page.panel3 -%}
                <div class="panel" id="panel3">
                    {% markdown %}{% renderBox "panel3" %}{% endmarkdown %}
                </div>
                {%- endif -%}
                {%- if page.panel4 -%}
                <div class="panel" id="panel4">
                    {% markdown %}{% renderBox "panel4" %}{% endmarkdown %}
                </div>
                {%- endif -%}
                {%- if page.panel5 -%}
                <div class="panel" id="panel5">
                    {% markdown %}{% renderBox "panel5" %}{% endmarkdown %}
                </div>
                {%- endif -%}
            </main>

        </div>

        <!-- RIGHT -->
        <div class="container" id="right">
            <div class="panel" id="navbar">
                    <h1>Navbar</h1>
                    <ul>
                        <li><a href="/"          >Home</a></li>
                        <li><a href="/projects/" >Projects</a></li>
                        <li><a href="/reading/"  >Reading</a></li>
                        <li><a href="/interests/">Interests</a></li>
                        <li><a href="/blog/"     >Blog</a></li>
                        <li><a href="/follow-me/"     >Follow Me</a></li>
                        <li><a href="/about/"    >About</a></li>
                    </ul>
            </div>
            {% if page.sidebar %}
            <div class="panel" id="sidebar">
                <!-- This is sidebar content unique to the specific page -->
                <!-- This should only render if page.sidebar is not an empty string -->
                {% markdown "sidebarContent" %}{% renderBox "sidebar" %}{% endmarkdown %}
            </div>
            {% endif %}
            <div class="panel" id="sidebarUpdates">
                <h1>Updates:</h1>
                <!-- This is the sidebar content that is "universal" on every single page -->
                {% markdown "sidebarContent" %}{% include "sidebar.md" %}{% endmarkdown %}
                <div class="badgeHolder">
                    <a href="https://11ty.dev/" target="blank"><img src="/images/88x31/builtWith11ty_88x31.gif" alt="88x31: This site was built with eleventy (11ty.dev)" class="badge"></a>
                    <a href="https://archlinux.org/" target="_blank"><img src="/images/88x31/stupidArchMeme_88x31.png" alt="88x31: I use Arch btw" class="badge"></a>
                </div>

            </div>
            <div class="panel" id="mobile-notice">
                <p>
                    This site is best viewed in fullscreen desktop, but you can still go ahead anyways.
                </p>
            </div>
        </div>
    </div>

</body>
</html>