body {
    margin: 5 auto;
    background-color: burlywood;
    background-image: url("https://rseeber.github.io/images/poppyField2.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;

    font-family: Montserrat, Arial, Helvetica, sans-serif;
    letter-spacing: 0.7px;
    text-indent: 2em;
    line-height: 2;
}

.big-box {
    margin: 0 auto;
    max-width: 80em;
}

.container {
    float: left;
    margin: 0.5em;
    margin-top: 2em;
}

.container#left {
    width: 60%;
    margin-left: 5em;
}

.container#right {
    width: 25%;
}

.panel {
    min-height: 20vh;
    background-color: blanchedalmond;
    border: 2px;
    border-color: aqua;
    border-radius: 0.75em;
    padding: 20px;
    margin-bottom: 0.6em;
    border-color: chocolate;
    border-width: 2px;
    border-style: solid;
}

.panel#navbar {
    width: 10em;
}

.panel#navbar > ul {
    line-height: 1.5;
    text-indent: 0px;
}

.panel#cover-image {
    background-image: url('https://rseeber.github.io/images/desertTrees.JPG'); 
    background-position: 50% 35%;
    height: 28vh;
}


/* -------------------------- */
/* === ARTICLE FORMATTING === */

h1,
h2,
h3 {
    text-indent: 0px;
}

h1.title {
    text-align: center;
}

.sideImage {
    float: right;
}

code {
    background-color: burlywood;
}